<footer id="" class="fixed-bottom py-4 bg-dark text-white-50">
   <div class="container text-center">
     <small>Copyright &copy; Resume Share</small> |
     <small>Made with &hearts; by Ankit Singh </small>

   </div>
 </footer>
</body>
</html>
