<%- include('partials/header') %>
<div class="container col-sm-6 centered">
  <h1>Register</h1>

    <div class=" centered">
      <a href="/auth/google" class="btn btn-danger btn-block"><i class="fab fa-google"></i> Sign up with <b>Google</b></a>
    </div>
</div>


<%- include('partials/footer') %>
